body{
    background-color: #303841;
    justify-content: center;
    font-family:"Libre Baskerville";
}

.container{
    background-color: white;
    color: black;
    width: 400px;
    height: auto;
    border:1px;
    padding:10px;
    margin:auto;
    margin-top: 20%; 
    border-radius: 20px;
    box-shadow:1px 2px 0 2px rgba(128,128,128,0.5)
}

.link{
    text-align: right;
}