:root {
    font-size: 18px;
    font-family: "Libre Baskerville" , "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    --p1: #303841;
    --p2: black;
    --p3: #B9B4C7;
    --p4: #e4e4e4;
}

body {
    color: #ffffff;
    background-color: var(--p1);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

hr {
    width: 50vh;
}

/*Navbar*/
.header {
    background-color: black;
    color: white;
    height: 8vh;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu-toggle {
    height: 1rem;
    display: none;
}

.menu-btn {
    font-size: 24px;
    cursor: pointer;
}

.menu-btn:hover{
	color:#6c6f6d;
}

.sidenav {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -175px; 
    width: 175px;
    height: 100vh;
    background-color: var(--p2);
    padding-top: 2.5rem;
	transition: left 0.5s ease-in-out;
}

.sidenav a:last-child {
    margin-top: auto;
    padding-bottom: 3rem;
}

.sidenav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.sidenav a:hover{
    color: #B9B4C7;
}

.logo-container-n {
    flex: 1;
    text-align: center;
    align-self: center;
}

.logo-container-n img {
    width: 5rem;
}

.contact-container {
    margin-left: auto;
}

.contact-btn {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}


.menu-toggle:checked + .header .sidenav {
    left: 0;
}

.main-content {
	display: flex;
    /* height: 200vh; */
}

.close-btn {
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}

.close-btn:hover {
    color: #ccc;
}

.main-page-img {
	position:absolute;
    margin-top: 8vh;
	width: 100%;
	height: 90vh;
    background-image: url("Images/Close\ Up\ Ruby.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.popWordContainer{
    position: absolute;

}

.greyscreen{
    top: 0;
    left:-300%;
    margin-top: 8vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.60);
    width: 100%;
    height: 90vh;
    transition: left 1s ease-out;
    z-index: -1;
}

.popword{
    width:auto;
    height:auto;
    font-size: 50px;
    position: absolute;
    padding-top: 40vh;
    padding-left: 10vh;
    margin-left:-10vh;
    color: white;
    font-family:Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    opacity:0;
    font-weight: 500;
    transition: opacity 2.5s ease, left 1.75s ease-out;
    letter-spacing: 1.5px;
}

.popword2{
    font-weight: 500;
    margin-left: 9vh;
    padding-left: 60vh;
    font-size: 50px;
    line-height: 1;
}

.back-image{
	background-image: url(Close-Up-Ring.jpeg);
	background-size: top 85px;
	width:100%;
}

/*Shopping Cart*/
.main {
    margin-top: 12vh;
    display: flex;
}

.navbar {
    height: 8vh;
    background-color: var(--p2);
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    z-index: 1;
}


/*item lists*/
.item-container {
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.item-list {
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    height: 10rem;
    width: 60vw;
    background-color: var(--p4);
    list-style: none;
    margin-bottom: 10px;
    border-radius: 25px;
}

.item img {
    width: 20%;
    height: 100%;
    border-radius: 1.25rem;
    margin-right: 1rem;
}

.item p {
    color: black;
}

.item h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin-left: auto;
    margin-right: 1rem;
}

/*summary lists*/
.summary-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 20rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    background-color: var(--p2);
    margin: 12px;
    border-radius: 25px;
}

.summary {
    list-style: none;
}

/* promotions */
.promotions-title {
    text-align: center;
}

.promotions-container {
    width: 100vw;
    margin-top: 97.5vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.promotions {
    display: none;
    color: black;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 80vh;
    background-color: var(--p4);
}

.promotions img {
    border-radius: 50%;
}

.promotions:first-child {
    display: flex;
}

.promotions-text {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 1rem;
    text-align: justify;
}

.promotions img, .promotions-a img {
    height: 100%;
    object-fit: contain;
}

.promotions-img:hover {
    opacity: 0.5;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: white;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}

/* Login */
.login {
    margin-top: 8vh;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    margin-right: 5rem;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    max-width: 450px;
    width: 100%;
    text-align: center;
}

.input-text, .input-pass {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #666; 
  border-radius: 4px;
  outline: none;
  color: #333;
  background-color: #ddd;
}
.input-submit {
  background-color: #ff8c00; 
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}
.input-submit:hover {
  background-color: #ff7f00; /* New hover color */
}

.logo-container {
    padding-right: 2rem;
}

.logo-container img {
    width: 40vw;
    height: 75vh;
    border-radius: 10px;
}

/* Footer */
.footer-container {
    background-color: black; 
    color: white;
    display: flex; /* Set to flex to adjust layout */
    justify-content: space-around; /* Evenly distribute space */
    align-items: center; /* Center items vertically */
    padding: 20px; /* Added padding for spacing */
}

.footer-section ul li {
    margin-bottom: 10px; 
}

.footer-section ul li a {
    color: white; 
    text-decoration: none; 
}


.social-logo, .payment-logo {
    width: 40px; 
    height: auto; 
}

.payment-methods {
    list-style: none; 
    padding: 0; 
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    margin-right: 10px;
}

/*Customer review*/
.review-container {
    max-width: 800px;
    margin: 5rem auto;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 30px;
    text-align: center;
}

.star-rating {
    color: yellow;
    font-size: 20px;
}

.review {
    border-bottom: 1px solid black;
    padding: 15px 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.review-date {
    color: grey;
    font-size: 14px;
    margin-top: 5px;
}

.cart, .cart img{
    height: 90%;
}

/*About us*/

.about-container {
    margin: 2rem;
    margin-top: 14vh;
    text-align: justify;
}
.about-container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* item page */

.slide-effect {
    color: black;
    width:50vw;
    height: 70vh;
    transition: transform 0.5s; /* Transition for smooth animation */
    border-radius: 40px;
    background-color:#F7F7F7;
    border-radius:20px;
    display: inline-block;
    padding:3rem 20px;
    margin: 2rem;
  }

.itempg-container{
    margin-top: 12vh;
    display:flex;
    align-items:center;
    width:100%;
    height:100%;
}

.itempg-container img {
    border-radius: 20px;
    margin-left: 2rem;
    width: 35vw;
    height: 80vh;
}

.itempg-main-description{
    display:flex;
    border:1px;
  }

.description-left{
    display:flex;
    border:1px;
    padding:0rem 3rem 1rem 0rem;
}
  
.description-center{
    display: flex;
    flex-direction: column;
    border:none;
    padding-left:5rem;  
}
.button-container{
    display:flex;
    align-items: center;
  }
  
  .button{
    border:5px;
    border-color:black;
    padding:16px 50px;
    text-align:center;
    display: inline-block;
    font-size: 25px;
    transition-duration:0.5s ;
    cursor:pointer;
    background-color: #F6C90E;
    color: black;
    border-radius: 100px;
    margin-left: 55px;
  }
  
  .button:hover{
    background-color:black;
    color: white;
  }
  
  .button1{
    background-color:beige;
    border:none;
    width: 50px;
    height:50px;
    padding:auto;
    text-align:center;
    display: inline-block;
    font-size: 25px;
    transition-duration:0.5s ;
    cursor:pointer;
    background-color:#F6C90E;
    color: black;
    border-radius: 50%;
  }
  
  .button1:hover{
    background-color:black;
    color: white;
  }
  
  .container{
    display:flex;
    align-items:center;
    width:100%;
    height:100%;
  }
  
  /*Modal Background-*/
  .modal{
      display:none;
      position:fixed;
      z-index: 1;
      padding-top: 100px;
      left:0;
      top:0;
      width:100%;
      height:100%;
      overflow:auto;
      background-color: black;
  }
  
  /*image in modal*/
  .modal-content{
      margin:auto;
      display:block;
      width:50%;
      height:90%;
      max-width: 700px;
      border-radius:20px;
  }
  
  /*caption of modal image*/
  #caption{
      margin:auto;
      display:block;
      width:80%;
      max-width:700px;
      text-align:center;
      color: white;
      padding:10px 0;
      height:150px;
  }
  
  /*Animation*/
  .modal-content,caption{
      animation-name:zoom;
      animation-duration:0.6s ;
  }
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }